* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(236, 235, 235)
}

h1  {
    width: 1140px;
    background-color:rgb(123, 207, 137) ;
    color: black;
    text-align: center;
    margin: 20px;
    padding: 10px;
    outline: 10px 20px 20px 20px;
    border-color: rgb(123, 207, 137) ;
}

    
#content  {
     margin-left: 100px;
     background-color:rgb(236, 235, 235)
     padding: 25px 10px;
}



.navbar {
    background-color: rgb(123, 207, 137);
    text-align: center; 
    color: black;
    width: 1180px;
    height: 40px;
    margin-left: 200px;
    margin: 0px;
    padding: 10px;
   
}



#answers {
    margin-top: 2cm;
}

#answers-list {
    margin-left: 20px;
}

ol li {
    margin-top: 5px;

}

td {
    padding: 5px;
}

/* Implement your changes below this line. Leave the code above as is. */


.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
}


