* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #e7e2e2;
}

h1 {
    background-color: rgb(238, 227, 227);
    text-align: center;
    margin: 20px 150px 20px 150px;
    padding: 15px;
    border-color: green;
    border-style: dotted;
}
#content {
    background-color: white;
    margin-left: 250px;
    margin-top: 60px;
    margin: 10px 250px 10px 250px;
    padding: 15px;
}

.navbar {
    background-color: rgb(75, 155, 75);
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-color: rgb(69, 153, 69);
    
}

.nav-link {
    color: white;
}

#answers {
    margin-top: 2cm;
}

#answers-list {
    margin-left: 20px;
}

ol li {
    margin-top: 5px;
}

td {
    padding: 5px;
}

/* Implement your changes below this line. Leave the code above as is. */


.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
}


