* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #eeeeee;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

#answers {
    margin-top: 2cm;
}

#answers-list {
    margin-left: 20px;
}

ol li {
    margin-top: 5px;
}

td {
    padding: 5px;
}

/* Implement your changes below this line. Leave the code above as is. */


.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
}
h1 {
    
    text-align: center;
    
    margin-top: 20px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-style: solid; border-color: darkseagreen; border-width: 5px;
 

}

 .navbar  {
     margin-top: 20px;
     background-color: darkseagreen;
     padding: 20px;

 }

.nav-link {
    color: #eeeeee;
}

div {
    margin: 70px;
    background-color: #ffffff;
    
}
