* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #d81515;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

#answers {
    margin-top: 2cm;
}
h1 {border: 10px solid rgb(2, 0, 128);
    text-align: center;
    margin: 20px;
    padding: 15px;
}
#answers-list {
    margin-left: 20px;
}

ol li {
    margin-top: 5px;
}

td {
    padding: 5px;
}

/* Implement your changes below this line. Leave the code above as is. */


.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
}
.navbar { background-color: rgb(0, 13, 128);
padding-top: 50px;
padding-bottom: 50px;
padding: 20px;}

#content {background-color: white;
margin: 30px 100px 30px 100px;
padding: 15px;}


.nav-link {color: white;
    font-weight: bold;
}