* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: rgb(236, 235, 235)
    text-align: center;
    margin: 250px 10px 250px 10px;
}

h1  {
    width: 100px;
    background-color: rgb(123, 207, 137);
    color: black;
    margin: 100px;
    padding: 25px 10px;
}
    
#content  {
   margin-left: 100px;
    background-color:rgb(236, 235, 235)
    color: black;
    margin: 100px;
    padding: 25px 10px;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

#answers {
    margin-top: 2cm;
}

#answers-list {
    margin-left: 20px;
}

ol li {
    margin-top: 5px;
}

td {
    padding: 5px;
}

/* Implement your changes below this line. Leave the code above as is. */


.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
}


