<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>Snake game</h1>
    <ul class="navbar">
        <li class="nav-item">
            <a class="nav-link" href="/"></a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/results.txt"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/scraping"></a>
        </li>
    </ul>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>
