{% extends "base.html" %}
{% block content %}
    <h2>Good Luck!</h2>
    <p>Good luck for the exam! Don't forget to commit your changes regularly.</p>
    <p>Click <a href="/">here</a> to get to the starting page.</p>

    <h2 id="answers">Some of the exercises require an answer to a question. Write the response here.</h2>
    <ol id="answers-list">
        <li>The class is "scrape-this"</li>
        <li>The scraper scrapes from an url called http://localhost:5000/scraping which is the scraper page of the website according to Mr De Capitani and prints element with the text Element(s) were found</li>
        <li>Running the scraper creates a file called data.json that can be found below gitpod.yml</li>
        <li>Responses or comments to Exericse 4.</li>
        <li>Responses or comments to Exericse 5.</li>
        <li>Responses or comments to Exericse 6.</li>
    </ol>
{% endblock %}
