{% extends "base.html" %}
{% block content %}
    <h2>Good Luck!</h2>
    <p>Good luck for the exam! Don't forget to commit your changes regularly.</p>
    <p>Click <a href="/">here</a> to get to the starting page.</p>
    <p>Click <a href="/">mine</a> to get to my new page</p>

    <h3 id="answers">Some of the exercises require an answer to a question. Write the response here.</h3>
    <ol id="answers-list">
        <li>Responses or comments to Exericse 1.</li>
        <li>Responses or comments to Exericse 2.</li>
        <li>Responses or comments to Exericse 3. You have to type in font-family to have the text in bold.</li>
        <li>Responses or comments to Exericse 4. It doesn't work --> I think I need to put somewhere a link to the website, but i don't know where.</li>
        <li>Responses or comments to Exericse 5.</li>
        <li>Responses or comments to Exericse 6.</li>
    </ol>
{% endblock %}
