{% extends "base.html" %}
{% block content %}
    <h2>Hello everyone ! <br> This is a website all about me. </h2>

    <p>I am Raphael Brodmann.</p>
    <p>Click <a href="/">here</a> And nothing changes .</p>

    <h2 id="answers">These are some facts about me. <source>.</h2>
    <ol id="answers-list">
        <li>I play Handball.</li>
        <li>I play the Cello .</li>
        <li>I have a big sister and of course a mum and a dad.
        </li>
        <li>I live in Rheinfelden.</li>
        <li>I was born in Liestal.</li>
        
    </ol>
{% endblock %}
